<div class="container">
  <div class="addmin-acc-ctrl">
    <form>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        



        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i>Schedule Frequence
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <form>
                <h4>Weekly</h4>
                <div class="form-group">
                  <input type="text" class="form-control" id="" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="" placeholder="Enter Keywords">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="" placeholder="Enter Search Criteria">
                </div>
                <div class="form-group inline-ele">
                  <select class="form-control">
                    <option>Springer</option>
                  </select>
                  <input type="date" class="form-control" placeholder="DD/MM/YYYY">
                  <input type="time" name="start time" class="form-control" placeholder="12:00">
                  <input type="time" name="end time" class="form-control" placeholder="01:00">
                  <button type="button" class="btn btn-primary">SAVE</button>
                  <button type="button" class="btn btn-default">CLEAR</button>
                </div>
              </form>
              <form>
                <h4>Custom</h4>
                <div class="form-group">
                  <input type="text" class="form-control" id="" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="" placeholder="Enter Keywords">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="" placeholder="Enter Search Criteria">
                </div>
                <div class="form-group inline-ele">
                  <select class="form-control">
                    <option>Springer</option>
                  </select>
                  <input type="date" class="form-control" placeholder="DD/MM/YYYY">
                  <input type="time" name="start time" class="form-control" placeholder="12:00">
                  <input type="time" name="end time" class="form-control" placeholder="01:00">
                  <button type="button" class="btn btn-primary">SAVE</button>
                  <button type="button" class="btn btn-default">CLEAR</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> <i class="fa fa-minus-circle" aria-hidden="true"></i>Checklist Definition
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <form>

                <div class="form-group">
                  <div class="row">
                    <label class="col-sm-5 col-md-4" for="authorization">Country of Authorization</label>
                    <input type="text" class="form-control col-sm-5 col-md-4" id="authorization" placeholder="Name">
                  </div>
                </div>
                <h4>Product</h4>
                <div class="form-group">
                  <div class="row">
                    <label for="product" class="col-sm-5 col-md-4">Product Name</label>
                    <input type="text" class="form-control col-sm-5 col-md-4" id="product" placeholder="Product Name">
                  </div>
                </div>
                 <div class="form-group">
                  <div class="row">
                    <label for="launchdate" class="col-sm-5 col-md-4">Launch Date</label>
                    <input type="date" class="form-control col-sm-5 col-md-4" id="launchdate" placeholder="DD/MM/YYYY">
                  </div>
                </div>
                 <div class="form-group">
                  <div class="row">
                    <label for="approvaldate" class="col-sm-5 col-md-4">Approval Date</label>
                    <input type="date" class="form-control col-sm-5 col-md-4" id="approvaldate" placeholder="DD/MM/YYYY">
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <label for="withdrawndate" class="col-sm-5 col-md-4">Withdrawn Date</label>
                    <input type="date" class="form-control col-sm-5 col-md-4" id="withdrawndate" placeholder="DD/MM/YYYY">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="" placeholder="Add Search Criteria">
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- /addmin-acc-ctrl -->
</div>

