.datacreation-table {
	width: 100%;
	margin-bottom: 25px;
}
.datacreation-table tr > th:nth-child(1) {
	width: 2%;
}
.datacreation-table tr > th:nth-child(2) {
	width: 10%;
}
.datacreation-table tr > th:nth-child(3) {
	width: 73%;
}
.datacreation-table tr > th:nth-child(4) {
	width: 15%;
}
.datacreation-table tr td button {
	margin-right: 5px;
}
.datacreation-table tr td > button:last-child {
	margin-right: 0px;
}
.create-btn {
	margin: 25px 0 15px;
	padding: 2px 30px;
    border-radius: 22px;
    font-size: 18px;
}
.p-b-50 {
	padding-bottom: 50px;
}
#createmodal, #editmodal {
	background: rgba(0,0,0,0.6);
}